<form id="tweetsForm"> 
  <div class="form-group">
    <label for="exampleInputEmail1">Palabra de interes</label>
    <input [(ngModel)]="palabra" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="inputPolitico" 
    aria-describedby="inputHelp" placeholder=" Ejemplo: Trump">
  </div>
  <button type="button" (click)="buscarTweets($event)" class="btn btn-primary">Buscar Tweets</button>
</form>


<div id="divResult">
<p>Ocurrencias: {{results.ocurrencias}}</p>
<p>Fecha: {{results.fecha}}</p>
</div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>