<div id="divIntro">
  <div id="divTitulo">
    <h1>
      WebIR 2018 - Grupo 18
    </h1>
  
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bruno Di Bello</li>
      <li class="list-group-item">Pablo Martinez</li>
      <li class="list-group-item">Juan Roquero</li>
      <li class="list-group-item">Maximiliano Barnech</li>
      <li class="list-group-item"></li>
    </ul>
   
  </div>
  
  
  <div id="divDescripcion">
        <p>
          Esta aplicacion obtiene opiniones de los usuarios de Twitter dentro de la zona metropolitana y en determinados
          intervalos de tiempo sobre los distintos agentes politicos.
        </p>
  </div>
</div>

<app-tweets-form></app-tweets-form>
